body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, sans-serif;
}
 
.choose_box {
  position: relative;
  height: 50vw;
  width: 100%;
}
 .choose_box p {
    font-size: 24px;
    display: block;
    font-weight: 600;
    text-align: center;
  }
 
.choose_box ul {
    width: 80%;
    text-align: center;
    margin: auto;
   display:flex;
  flex-wrap: wrap;
}
.choose_box ul li {
  width: calc(100% / 2 - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  list-style: none;
}
 
.choose_box ul li:nth-child(2n) {
   margin-right: 0;
}
.choose_box ul li a {
  color: #fff;
  display: block;
  padding: 20px 60px;
  text-align: center;
  background-color: #c4302b;
  font-weight: 600;
  font-size: 18px;
  border: 2px solid #c4302b;
  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
 
.choose_box ul li a:hover {
   background-color: #fff;
  color: #c4302b;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
 
h4 {
    width: 50%;
    clear: both;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  background-color: #c4302b;
  }
 
.fit {
  position: absolute;
  left: 0px;
  top: 120px;
  width: 100%;
  color: #787878;
}
#q_21 span,#q_22 span,#q_23 span,#q_24 span,#q_25 span,#q_26 span,#q_27 span,#q_28 span,#q_29 span {
  display: block;
  width:100%;
}
#q_21 a,#q_22 a,#q_23 a,#q_24 a,#q_25 a,#q_26 a,#q_27 a,#q_28 a,#q_29 a {
  display: block;
  width:100%;
  text-align: center;
}

.question{
  text-align: center;
  margin: 60px;
  font-size: 40px;
  font-weight: 600;
  color :#787878
}

.header{
  text-align: center;
  font-size: 40px;
  font-weight: 600; 
  color:#c4302b;
  padding-top: 30px;
}

.image{
  text-align:center;
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3%;
  display: flex;
}

.youtuber-image{
  margin-right: 5%;
  width: 33%;
  height: 33%;
}

.text{
  font-size: 20px;
  display: block;
  font-weight: 600;
}